
* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

button {
    display: flex; 
    background: none;
    border: 0;
    margin: 5px;
    padding: 5px;
}

.nav-bar {
    background-color: purple;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header {
    background-color: purple;
    color: white;
}

.slack-logo {
    width: 15vw;
}

.highlight {
    color: #ECB12F;
}


img {
    max-width: 98vw
}

.hamburger {
    display: none
}

#sign-up-email {
    display: flex;
    width: 100%;
    justify-content: center;
    border: 1px solid #540B51;
    border-radius: 10px;
    height: fit-content;
    width: 90%;
    text-transform: uppercase;
}

.sign-up-google {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    border: 1px solid #540B51;
    background-color: #4285F4;
    border-radius: 10px;
    height: fit-content;
    width: 90%;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}

.google-logo {
    border: 2px solid white;  
    background-color: white;   
    border-radius: 5px;       
    margin-right: 10px;       
    width: 30px;               
    height: auto;              
}

.sign-up-google image {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    border-radius: 2px;
}

.trusted-companies {
    background-color: #F3EAE2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 20px;
}

.trusted-companies img {
    width: calc(50% - 20px);
    height: auto;
    margin: 0;
    padding: 10px;
}

/* @media (max-width: 768px) {

} */


/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
